@using Bikevent.Config
@inject BvConfigurationService Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Bikevent - The place for all the rides</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script type="text/javascript">
        app = {}
        app.config = {
            isDevEnvironment: @Configuration.IsDevEnvironment.ToString().ToLower(),
            domain: "@Configuration.ApiDomain"
        }
    </script>

    <script src="~/js/apiClient.js"></script>

    <script src="~/lib/toastr/toastr.min.js"></script>
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css"/>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>

    <script src="~/js/app.common.js"></script>
    <script src="~/js/models.js"></script>
    <script src="~/lib/pubsub.js"></script>
    <script src="~/js/eventManager.js"></script>


    @*     <link rel="stylesheet" href="~/css/pure.css"/> *@

    <link rel="stylesheet" href="~/css/bikevent.css"/>

</head>
<body>
<div class="header">
    <a class="btn btn-sm" href="/" class="">Home</a>
    <a class="btn btn-sm" asp-controller="AuthPages" asp-action="Login" class="">Login</a>
    <a class="btn btn-sm" asp-controller="ClubPages" asp-action="Register" class="">Register Your Club</a>
    <a class="btn btn-sm" asp-controller="ClubPages" asp-action="GetClubs" class="">Clubs</a>
    <a class="btn btn-sm" asp-controller="EventsPages" asp-action="GetEvents" class="">Events</a>
    <a class="btn btn-sm" asp-controller="RidesPages" asp-action="GetRides" class="">Rides</a>
</div>
<div class="container mainPage">
    <div class="row">
        <div class="col-12">
            @RenderBody()
        </div>
    </div>
</div>

<div class="footer">
    bikevent.com/nz Copyright 2024

    @if (Configuration.IsDevEnvironment.Value)
    {
        <a href="/swagger/index.html" target="_blank">API Browser</a>
        <a href="http://192.168.1.140/phpMyAdmin/db_structure.php?server=1&db=bikeventdb" target="_blank">DB Browser</a>
        <a asp-controller="UtilPages" asp-action="Index">Util Page</a>
    }

</div>
</body>
@await RenderSectionAsync("Scripts", false)
</html>