@using Bikevent.Config
@inject BvConfigurationService Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Bikevent.Website</title>

    <link rel="stylesheet" href="~/css/bikevent.css"/>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>
<body>
    <div class="header">
    <a class="" href="/">Bikeevent</a>
    <a href="/" class="">Home</a>
    <a asp-controller="ClubPages" asp-action="ViewClubs" class="">Clubs</a>
    <a asp-controller="ClubPages" asp-action="Register" class="">Register</a>
    <a asp-controller="AuthPages" asp-action="Login" class="">Login</a>
    <a asp-controller="AuthPages" asp-action="SignUp" class="">SignUp</a>

</div>

<div class="mainContent">
    <div class="mainPage">

        @RenderBody()
    </div>

</div>
<div class="footer">
    BikeEvents Copyright 2024

    @if (!Configuration.IsDevEnvironment)
    {
        <a href="/swagger/index.html">API Browser</a>
    }

</div>

</body>

@await RenderSectionAsync("Scripts", false)
</body>
</html>