@model ClubPageModel
@{
}
<h2>View Club</h2>

<div id="clubCards">

</div>

@section Scripts {
    <script src="~/js/clubPage.js"></script>
    <script language="javascript">
        app.clubPage.init();
    </script>
}
