@model ClubPageModel
<h3>View Club</h3>

<h4>@Model.Club.NameOf</h4>

<form class="mainForm" target="/api/v1/club"></form>

@section Scripts {
    <script src="~/js/clubPage.js"></script>
    <script language="javascript">
        app.clubPage.init();
    </script>
}
