@model EventPageModel
@{
}
<h3>Events > New Event</h3>
<div id="clubCards">

</div>

@section Scripts {
    <script src="~/js/eventPage.js"></script>
    <script language="javascript">
        app.eventPage.init();
    </script>
}
