@model EventsPageModel
@{
}
<h3>Events</h3>
<p>
    <a class="btn btn-sm btn-primary" asp-controller="EventsPages" asp-action="AddEvent">Add Event</a>
</p>


<h4>View Events</h4>

<div id="clubCards">@{

                        if (!Model.Events.Any())
                        {

                            <p>No Events
                                Found <a asp-controller="EventsPages"  asp-action="AddEvent">Add Event</a></p>

                        }
                        else
                        {
                            foreach (var c in @Model.Events)
                            {
                                <div class="clubCard">
                                    <div class="id"><a asp-controller="EventsPages" asp-action="GetEvent" asp-route-id="@c.Id">@c.Title</a></div>
                                </div>
                                <hr>
                            }
                        }

                    }

</div>

@section Scripts {
    <script src="~/js/eventsPage.js"></script>
    <script language="javascript">
        app.eventsPage.init();
    </script>
}
