@{
    ViewData["Title"] = "Bikevent - New Zealand Motorcycle Rides and Events";
}
<div class="row">
    <div class="mainImage">
        <img class="bikeSvg" src="~/img/noun-motorcycle-6863411-FFFFFF.svg" />
    </div>
    <div class="mainText">Welcome to Bikevent.co.nz</div>
    <div class="secondText">New Zealands Premier Site for motorbike rides and events</div>
    <div class="actionBar">
        <a class="pure-button pure-button-primary" href="/club/register">Register your club</a>
        <a class="pure-button pure-button-primary" href="/login">Login</a>
    </div>
</div>