@{
    ViewData["Title"] = "Bikevent - New Zealand Motorcycle Rides and Events";
}

<h3>Register you Motorbike Club</h3>
<form class="mainForm" target="/api/v1/club">
    
    @await Html.PartialAsync("BvPartials/_InputBox", new BvInputModel{Label = "Club Name *", NameOf = "nameOf"})
    @await Html.PartialAsync("BvPartials/_InputBox", new BvInputModel { Label = "Description *", NameOf = "description" })
    @await Html.PartialAsync("BvPartials/_InputBox", new BvInputModel { Label = "Email *", NameOf = "email" })
    @await Html.PartialAsync("BvPartials/_InputBox", new BvInputModel { Label = "President / Main Contact *", NameOf = "president" })
    @await Html.PartialAsync("BvPartials/_InputBox", new BvInputModel { Label = "Website *", NameOf = "websiteUrl" })
    <div class="row">
        <div class="col-8">
            <br />
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/clubPage.js"></script>
    <script language="javascript">
        app.clubPage.init();
    </script>
}
