@model RidePageModel
@{
}
<h2>Club Ride</h2>

<div id="rideCard">

</div>

@section Scripts {
    <script src="~/js/ridePage.js"></script>
    <script language="javascript">
        app.ridePage.init();
    </script>
}
