@model RidesPageModel
@{
}

<h3>Rides </h3>
<p>
    <a class="btn btn-sm btn-primary" asp-controller="RidesPages" asp-action="AddRide">+ New Ride</a>

</p>
<h4>View Rides</h4>

<div id="clubCards">@{
                        if (!Model.Rides.Any())
                        {
                            <p>No Rides Found</p>
                        }
                        else
                        {
                            foreach (var c in @Model.Rides)
                            {
                                <div class="clubCard">
                                    <div class="id"><a asp-controller="ClubPages" asp-action="GetClub" asp-route-id="@c.Id">@c.Title</a></div>
                                </div>
                                <hr>
                            }
                        }
                    }
</div>

@section Scripts {
    <script src="~/js/ridesPage.js"></script>
    <script language="javascript">
        app.ridesPage.init();
    </script>
}
