@{
    ViewData["Title"] = "Bikevent - New Zealand Motorcycle Rides and Events";
}

<div class="text-center">
    <h1 class="display-4">Welcome the time is @Html.Raw( DateTime.Now.ToLongDateString())</></h1>
    <p>Welcome to New Zealands Premier Ride and Events Website for Motorcyclists.</p>
</div>
