body {
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //   sans-serif;
    font-family: 'Arial', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen';
    //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //   sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .header {
    background-color: red;
    padding: 1em;
    height: 1em;
    .link{       
        padding-left: 1em;
        font-weight: bold;
        color: white;
    }
  }

  .app {
    background-color: azure;
    height: 90vh;
    display: flex;
    padding: 0.5em;
       
    .content{
      display: flex;
      //align-items: center;
      //justify-content: center;
      flex-grow: 1;
      width: 100vw;
      //background-color: aquamarine;

    }
  }

  .footer {
    background-color: red;
    padding: 1em;
    height: 1em;
  }