/* Copyright 2014 Owen Versteeg; MIT licensed */
html,
body,
textarea,
input,
select {
  background: 0;
  border-radius: 0;
  font: 16px sans-serif;
  margin: 0;
}
html {
  touch-action: pan-x pan-y;
  height: 100%;
}
.smooth {
  transition: all 0.2s;
}
.btn,
.nav a {
  text-decoration: none;
}
.container {
  margin: 0 20px;
  width: auto;
}
label > * {
  display: inline;
}
form > * {
  display: block;
  margin-bottom: 10px;
}
.btn {
  background: #999;
  border-radius: 6px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 2px 0;
  padding: 12px 30px 14px;
}
.btn:hover {
  background: #888;
}
.btn:active,
.btn:focus {
  background: #777;
}
.btn-a {
  background: #0ae;
}
.btn-a:hover {
  background: #09d;
}
.btn-a:active,
.btn-a:focus {
  background: #08b;
}
.btn-b {
  background: #3c5;
}
.btn-b:hover {
  background: #2b4;
}
.btn-b:active,
.btn-b:focus {
  background: #2a4;
}
.btn-c {
  background: #d33;
}
.btn-c:hover {
  background: #c22;
}
.btn-c:active,
.btn-c:focus {
  background: #b22;
}
.btn-sm {
  border-radius: 4px;
  padding: 10px 14px 11px;
}
.row {
  margin: 1% 0;
  overflow: auto;
}
.col {
  float: left;
}
.table,
.c12 {
  width: 100%;
}
.c11 {
  width: 91.66%;
}
.c10 {
  width: 83.33%;
}
.c9 {
  width: 75%;
}
.c8 {
  width: 66.66%;
}
.c7 {
  width: 58.33%;
}
.c6 {
  width: 50%;
}
.c5 {
  width: 41.66%;
}
.c4 {
  width: 33.33%;
}
.c3 {
  width: 25%;
}
.c2 {
  width: 16.66%;
}
.c1 {
  width: 8.33%;
}
h1 {
  font-size: 3em;
}
.btn,
h2 {
  font-size: 2em;
}
.ico {
  font: 33px Arial Unicode MS, Lucida Sans Unicode;
}
.addon,
.btn-sm,
.nav,
textarea,
input,
select {
  outline: 0;
  font-size: 14px;
}
textarea,
input,
select {
  padding: 8px;
  border: 1px solid #ccc;
}
textarea:focus,
input:focus,
select:focus {
  border-color: #5ab;
}
textarea,
input[type=text] {
  -webkit-appearance: none;
  width: 13em;
}
.addon {
  padding: 8px 12px;
  box-shadow: 0 0 0 1px #ccc;
}
.nav,
.nav .current,
.nav a:hover {
  background: #000;
  color: #fff;
}
.nav {
  height: 24px;
  padding: 11px 0 15px;
}
.nav a {
  color: #aaa;
  padding-right: 1em;
  position: relative;
  top: -1px;
}
.nav .pagename {
  font-size: 22px;
  top: 1px;
}
.btn.btn-close {
  background: #000;
  float: right;
  font-size: 25px;
  margin: -54px 7px;
  display: none;
}
@media (min-width: 1310px) {
  .container {
    margin: auto;
    width: 1270px;
  }
}
@media (max-width: 870px) {
  .row .col {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .btn.btn-close {
    display: block;
  }
  .nav {
    overflow: hidden;
  }
  .pagename {
    margin-top: -11px;
  }
  .nav:active,
  .nav:focus {
    height: auto;
  }
  .nav div:before {
    background: #000;
    border-bottom: 10px double;
    border-top: 3px solid;
    content: '';
    float: right;
    height: 4px;
    position: relative;
    right: 3px;
    top: 14px;
    width: 20px;
  }
  .nav a {
    padding: 0.5em 0;
    display: block;
    width: 50%;
  }
}
.table th,
.table td {
  padding: 0.5em;
  text-align: left;
}
.table tbody > :nth-child(2n-1) {
  background: #ddd;
}
.msg {
  padding: 1.5em;
  background: #def;
  border-left: 5px solid #59d;
}
@font-face {
  font-family: mainFont2;
  src: url(assets/Roboto-Medium.ttf);
}
* {
  font-family: "mainFont2";
  font-weight: 100;
  text-transform: uppercase;
  color: #fcf1df;
  letter-spacing: 2px;
}
body {
  background-color: #29282b;
}
form {
  padding: 0.6em;
  max-width: 64em;
}
form input,
form select {
  background-color: #424145;
  color: #fcf1df;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 3px;
  border: 1px solid #fcf1df;
  width: 19em;
  padding: 6px;
}
form input[type=submit] {
  width: 9em;
}
form .label {
  font-weight: bold;
}
h1,
h2,
h3 {
  margin: 0;
  padding-left: 0.5em;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  font-weight: 600;
  background-color: whitesmoke;
  text-align: center;
  background-color: #29282b;
  color: #fcf1df;
}
.nav,
.nav .current,
.nav a:hover {
  color: #fcf1df;
}
.btn {
  background-color: #455053;
  border: 1px solid #fcf1df;
  border-radius: 0.5em;
  color: #fcf1df;
  padding: 0.4em;
  min-width: 6em;
  margin-right: 0.6em;
  text-align: center;
}
.btn:hover {
  background-color: #ed7a79;
}
.react-datepicker__time-list-item {
  letter-spacing: normal;
  color: #29282b;
}
.react-datepicker__input-container {
  font-family: mainFont2;
}
.react-datepicker-wrapper {
  height: 2em !important;
}
.react-datepicker-wrapper input {
  width: 20em;
  font-family: "mainFont2";
}
.react-datepicker__current-month {
  background-color: #abb6b9;
  color: #29282b !important;
}
.boxShadow {
  box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.85);
}
.img400 {
  width: 100%;
  height: auto;
  max-width: 400px;
}
.error {
  color: #e44;
}
.msgContainer {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.85);
}
.msgContainer .baseMsg {
  width: 20em;
  padding-left: 0.5em;
  margin: 1em;
  padding: 1em;
  text-align: center;
}
.msgContainer .info {
  width: 20em;
  padding-left: 0.5em;
  margin: 1em;
  padding: 1em;
  text-align: center;
  border: 1px solid blue;
}
.msgContainer .success {
  width: 20em;
  padding-left: 0.5em;
  margin: 1em;
  padding: 1em;
  text-align: center;
  border: 1px solid green;
}
.msgContainer .error {
  width: 20em;
  padding-left: 0.5em;
  margin: 1em;
  padding: 1em;
  text-align: center;
  color: red;
}
.header {
  background-color: #2a4;
  display: flex;
}
.footer {
  background-color: #2a4;
  overflow-wrap: break-word;
}
.pageTitle .subMenu {
  justify-content: center;
  flex-wrap: wrap;
  background-color: #363438;
  padding: 0.2em;
  display: flex;
  text-align: center;
  box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.85);
  padding: 0.6em;
}
.loginPage .pageTitle h3 {
  text-align: left;
}
.loginPage .pageContainer form {
  padding: 1em;
}
.loginPage .pageContainer form input {
  text-transform: none;
}
.homePage {
  text-align: center;
  padding: 0.5em;
}
.ridesPage .rides {
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.ridesPage .rides .rideListItem {
  display: flex;
  max-width: 25em;
  background-color: #000000;
  border-radius: 0.5em;
  padding: 0.25em;
  margin: 0.25em;
}
.ridesPage .rides .rideListItem .left {
  display: flex;
  flex-direction: column;
  width: 10em;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  margin: 0.25em;
}
.ridesPage .rides .rideListItem .left .timeBox {
  flex-grow: 1;
  width: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #990000;
  border-radius: 0.5em;
  margin: 0px;
}
.ridesPage .rides .rideListItem .right .title {
  text-align: center;
  width: 100%;
}
.ridesPage .rides .rideListItem .right .title h3 {
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}
.clubsPage .clubData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.clubsPage .clubData .clubListItem {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.85);
  padding: 0.5em;
  margin: 0.3em;
  width: 15em;
  height: 5em;
  border: 1px solid #fcf1df;
  border-radius: 0.5em;
}
.clubsPage .clubData .clubListItem .nameOf {
  color: white;
}
.eventsPage .events .eventListItem {
  border-bottom: 1px solid #fcf1df;
  display: flex;
}
.eventsPage .events .eventListItem .timeboxCol {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.eventsPage .events .eventListItem .timeboxCol .timeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: black;
  width: 4em;
  height: 4em;
}
.eventsPage .events .eventListItem .summaryCol .title h3 {
  text-align: left;
}
.eventsPage .events .eventListItem .summaryCol .date {
  padding-left: 0.5em;
}
.eventsPage .events .eventListItem .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
}
