@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model BvInputModel;
@{
}

<div class="spacer"></div>
<label for=@Model.NameOf>@Model.Label</label>
<input type="text" name=@Model.Label placeholder=@Model.PlaceHolder value=@Model.Val />



