:root {
  --redColor: #cc0000;
}
@font-face {
  font-family: mainFont2;
  src: url(/font/Roboto-Medium.ttf);
}
* {
  font-family: "mainFont2";
  font-weight: 100;
  font-style: italic;
  color: black;
  letter-spacing: 2px;
}
.footer,
.header {
  padding: 0.5em;
  background-color: #cc0000;
  color: white;
  font-weight: 100;
}
.error {
  color: red;
  display: none;
}
.errors {
  border: 3px solid var(--redColor);
  color: var(--redColor);
  background-color: var(--redColor);
  padding: 1em;
  margin-bottom: 1em;
  width: 30em;
}
.mainPage {
  height: 100%;
  padding: 1em;
  margin: 0;
}
.inputError {
  color: var(--redColor);
}
